
@{
    ViewBag.Title = "Quản lý YourShop";
}
@section head{
    <meta name="robots" content="noindex">
}

<div class="container">
    <section id="content">
        <h2 style="font-family:VNOswald;margin-top:20px;">Khu vực dành cho quản lí</h2>

        @Html.ActionLink("Quản lí Danh Mục", "Category", "Quanli", null, new { @class = "btn btn-success", @style = "font-family:VNOswald; font-size:20px;" })
        @Html.ActionLink("Quản lí Sản Phẩm", "Product", "Quanli", null, new { @class = "btn btn-success", @style = "font-family:VNOswald; font-size:20px;" })
        @Html.ActionLink("Quản lí Đơn Hàng", "Order", "Quanli", null, new { @class = "btn btn-success", @style = "font-family:VNOswald; font-size:20px;" })
        @Html.ActionLink("Quản lí Blog", "Blog", "Quanli", null, new { @class = "btn btn-success", @style = "font-family:VNOswald; font-size:20px;" })
        @Html.ActionLink("Quản lí Order BackTSchool", "EventBackToSchool", "Quanli", null, new { @class = "btn btn-success", @style = "font-family:VNOswald; font-size:20px;" })
    </section>
</div>




