@using BanleWebsite.Services;
@using BanleWebsite.Models;
@using BanleWebsite.Repository;
@{

    ViewBag.Title = "Giỏ hàng";
    List<CartItem> cart = ViewBag.cart;
    ProductServices _productServices = new ProductServices();

}


<div class="container">
    <h2 style="font-family:VNOswald; margin-top:20px;">Giỏ hàng của bạn</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 0;
                double total = 0;
                foreach (var item in cart)
                {
                    <tr>
                        <td>@{++stt;}@stt</td>
                        <td>@_productServices.findByID(item.productId).Name</td>
                        <td>@_productServices.findByID(item.productId).Price</td>
                        <td>
                            @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input type="hidden" class="form-control" value="@item.productId" name="productId" />
                                    <input type="text" class="form-control" value="@item.quantity" name="quantity" />
                                    <input type="submit" value="Cập nhật" />
                            }
                        </td>
                        <td>
                            @{
                                double thanhtien = item.quantity * _productServices.findByID(item.productId).Price.Value;
                                total += thanhtien;
                            }
                            @thanhtien
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteCartItem", "Cart", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input type="hidden" class="form-control" value="@item.productId" name="productId" />
                                    <input type="submit" value="Xóa" />
                            }
                        </td>
                    </tr>
                                }

                                <tr>
                                    <td colspan="4"><strong>Tổng tiền</strong></td>
                                    <td>@total</td>
                                    <td></td>
                                </tr>
            }
        </tbody>
    </table>

    @using (Html.BeginForm("SubmitOrder", "Cart", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-inline">
            <input type="text" placeholder="Họ và tên" name="name" />
            <input type="text" placeholder="Số điện thoại" name="phoneNo" />
        </div>
            <input type="submit" value="Mua ngay" />
    }

</div>
