@using BanleWebsite.Repository;
@using BanleWebsite.Services;
@{
    ViewBag.Title = "Quản lí đơn hàng";
    List<Order> orders = ViewBag.orders;
    int? status = ViewBag.status;

    int soThuTu = 0;
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<script>
  jQuery( function() {
    jQuery( "#fromDate" ).datepicker();
  } );

  jQuery( function() {
      jQuery( "#toDate" ).datepicker();
  });

  $(document).ready(function () {
      var status = jQuery("#st").val()
      if (status != null && status != "") {
          jQuery("#sttSelect").val(status);
      }


  });

</script>


<div class="container">
    @using (Html.BeginForm("Search", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-inline">
            <input type="text" placeholder="Số điện thoại" id="phoneNo" name="phoneNo" style="margin:10px; height:30px; width:220px;" />
        </div>

        <input type="submit" class="btn-success" value="Tìm kiếm" style="display:inline-block;float:left;font-family:VNOswald; margin:25px 0 0 5px;" />
    }

    @{
        if (orders.Count != 0)
        {
            <br />
            <div>Có @orders.Count kết quả được tìm thấy!</div>
            <table class="table" id="orderTable">
                <tr>
                    <th>Số thứ tự</th>
                    <th>Ngày tạo</th>
                    <th>Tên khách hàng</th>
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                    <th></th>
                    <th></th>
                </tr>
                @{
                    foreach (var item in orders)
                    {

                        <tr>
                            @{++soThuTu;}
                            <td>@soThuTu</td>
                            <td>@item.CreateDate</td>
                            <td>@item.Name</td>
                            <td>@item.PhoneNo</td>
                            <td>
                                @{
                                    if (item.Status == SLIMCONFIG.ORDER_STATUS_UNCHECK)
                                    {
                                        <p>Đang xử lí</p>
                                    }
                                    if (item.Status == SLIMCONFIG.ORDER_STATUS_CHECKED)
                                    {
                                        <p>Đang giao hàng</p>
                                    }
                                    if (item.Status == SLIMCONFIG.ORDER_STATUS_PAID)
                                    {
                                        <p>Đã xong</p>
                                    }
                                    @*if (item.Status == SLIMCONFIG.ORDER_STATUS_CANCEL)
                                        {
                                            <p>Đã hủy đơn hàng</p>
                                        }*@
                                }
                                @*<select style="width:150px;">
                                        @{
                                            if (item.Status == SLIMCONFIG.ORDER_STATUS_UNCHECK)
                                            {
                                                <option selected disabled value="@SLIMCONFIG.ORDER_STATUS_UNCHECK">Mới tạo</option>
                                            }
                                            else
                                            {
                                                <option disabled value="@SLIMCONFIG.ORDER_STATUS_UNCHECK">Mới tạo</option>
                                            }
                                            if (item.Status == SLIMCONFIG.ORDER_STATUS_CHECKED)
                                            {
                                                <option selected disabled value="@SLIMCONFIG.ORDER_STATUS_CHECKED">Đã xác nhận</option>
                                            }
                                            else
                                            {
                                                <option disabled value="@SLIMCONFIG.ORDER_STATUS_CHECKED">Đã xác nhận</option>
                                            }
                                            if (item.Status == SLIMCONFIG.ORDER_STATUS_PAID)
                                            {
                                                <option selected disabled value="@SLIMCONFIG.ORDER_STATUS_PAID">Đã thanh toán</option>
                                            }
                                            else
                                            {
                                                <option disabled value="@SLIMCONFIG.ORDER_STATUS_PAID">Đã thanh toán</option>
                                            }
                                            if (item.Status == SLIMCONFIG.ORDER_STATUS_CANCEL)
                                            {
                                                <option selected disabled value="@SLIMCONFIG.ORDER_STATUS_CANCEL">Đã hủy đơn hàng</option>
                                            }
                                            else
                                            {
                                                <option disabled value="@SLIMCONFIG.ORDER_STATUS_CANCEL">Mới tạo</option>
                                            }
                                        }
                                    </select>*@
                            </td>
                            <td>
                                <!-- Trigger the modal with a button -->
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" onclick="getOrderDetail(@item.ID)" style="font-family:VNOswald;">Chi tiết</button>
                            </td>

                        </tr>
                                    }
                }
            </table>
                                    }
                                    else
                                    {
                                        <br />
                                        <div>Không có kết quả nào được tìm thấy!</div>
                                    }
    }



</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="font-family:VNOswald;" id="orderTitle"></h3>
            </div>
            <div class="modal-body">
                <div class="form-group" style="float:left; display:block;">
                    <label>Họ tên khách hàng</label>
                    <h4 id="cusName"></h4>
                </div>
                <div class="form-group" style="float:left; margin-left:30px; display:block;">
                    <label>Số điện thoại</label>
                    <h4 id="cusPhoneNo"></h4>
                </div>
                <div class="form-group" style="float:left; display:block; margin-left:25px;">
                    <label>Tình trạng</label>
                    <select id="orderStatus" style="width:120px;" disabled>
                        <option value="@SLIMCONFIG.ORDER_STATUS_UNCHECK">Đang xử lí</option>
                        <option value="@SLIMCONFIG.ORDER_STATUS_CHECKED">Đang giao hàng</option>
                        <option value="@SLIMCONFIG.ORDER_STATUS_PAID">Đã xong</option>
                        @*<option value="@SLIMCONFIG.ORDER_STATUS_CANCEL">Đã hủy</option>*@
                    </select>
                </div>
                <div class="form-group" style="float:right; display:block;">
                    <label>Ngày tạo</label>
                    <h4 id="createDate"></h4>
                </div>
                <div class="clearfix"></div>
                <h3 style="text-align:center;font-family:VNOswald;">Sản phẩm đã đặt</h3>
                <table class="table" id="modalTable">
                    <col width="280" />
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody id="modalBoby">
                        <tr>
                            <td colspan="3"><strong>Tổng cộng</strong></td>
                            <td><strong id="total_cell">20 000 000</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" id="modalFooter">
                <button id="btnModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="font-family:VNOswald;">Lỗi</h4>
                </div>*@
            <div class="modal-body" style="text-align:center; background-color:#dff0d8;">
                <p style="color:#468847; font-size:20px;"><strong>Cập nhật thành công</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>

    </div>
</div>


<script>
    function updateOrderStatus(id) {
        var status = jQuery("#orderStatus").val();
        console.log(status);
        jQuery.ajax({
            url: "/Quanli/UpdateOrderStatus",
            data: {
                format: 'json',
                id: id,
                status: status
            },
            error: function () {
                alert("Change status order fail!")
            },
            success: function (data) {
                if (data === "Success")
                {
                    jQuery("#successModal").modal("toggle");
                    jQuery("#orderTable").load("/Quanli/Order #orderTable");
                    jQuery("#myModal").modal("toggle");
                }

            },
            type: 'POST'
        })
    }

    function getOrder(id) {
        var order = "";
        jQuery.ajax({
            url: "/Quanli/getOrderInfo",
            async: false,
            data: {
                format: 'json',
                id: id
            },
            error: function() {
                alert("Get order info fail!")
            },
            success: function(data) {
                order += data
            }
        })
        console.log(order);
        return order;
    }
    function getproductItem(id) {
        var item = "";
        jQuery.ajax({
            url: "/Quanli/getProductInfo",
            async: false,
            data: {
                format: 'json',
                proId: id
            },
            error: function() {
                alert("Get product item fail!")
            },
            success: function (data) {

                item += data;
                //console.log(item + "111111111111111111111");
            }
        })
        //console.log(item + "222222222222222222222222");
        return item;
    }

    function getcolor(id)
    {
        switch(id) {
            case 1:
                return "Trắng";
                break;
            case 2:
                return "Đen";
                break;
            case 3:
                return "Xám";
                break;
            case 4:
                return "Đỏ tươi";
                break;
            case 5:
                return "Đỏ thẫm";
                break;
            case 6:
                return "Hồng";
                break;
            case 7:
                return "Cam";
                break;
            case 8:
                return "Vàng";
                break;
            case 9:
                return "Xanh lá cây tươi";
                break;
            case 10:
                return "Xanh lá cây đậm";
                break;
            case 11:
                return "Xanh da trời";
                break;
            case 12:
                return "Xanh dương";
                break;
            case 13:
                return "Xanh dương đậm";
                break;
            case 14:
                return "Tím";
                break;
            case 15:
                return "Hồng phấm";
                break;
            case 16:
                return "Nâu";
                break;
        }
    }

    function getSize(id)
    {
        switch(id) {
            case 1:
                return "XS";
                break;
            case 2:
                return "S";
                break;
            case 3:
                return "M";
                break;
            case 4:
                return "L";
                break;
            case 5:
                return "XL";
                break;
            case 6:
                return "XXL";
                break;
            case 7:
                return "XXXL";
                break;
        }
    }

    function getOrderDetail(id) {
        jQuery.ajax({
            url: "/Quanli/getOrderDetail",
            data: {
                format: 'json',
                id: id
            },
            error: function() {
                alert("Get order detail fail!")
            },
            success: function (data) {
                console.log("receiveData: " + data);
                var orderDetailList = JSON.parse(data);
                var total = 0;
                for (var i = orderDetailList.length - 1; i >= 0; i--) {

                    //alert(orderDetailList[i].ID);
                    //find peoduct item in order list
                    var item = getproductItem(orderDetailList[i].ProductID);
                    var product = JSON.parse(item);
                    //alert(item);
                    console.log("Product: "+product);
                    if(product==null){
                        continue
                    }

                    var table = document.getElementById("modalTable");
                    var row = table.insertRow(1);
                    var proName_Cell = row.insertCell(0);
                    var price_Cell = row.insertCell(1);
                    var quantity_Cell = row.insertCell(2);
                    var thanhtien_Cell = row.insertCell(3)

                    proName_Cell.innerHTML = product.Name + " | " + getcolor(orderDetailList[i].Color) + "-" + getSize(orderDetailList[i].Size);
                    price_Cell.innerHTML = product.Price;
                    quantity_Cell.innerHTML = orderDetailList[i].Quantity;
                    thanhtien_Cell.innerHTML = product.Price * orderDetailList[i].Quantity;
                    total += product.Price * orderDetailList[i].Quantity;
                }
                var toto_cell = document.getElementById("total_cell");
                total_cell.innerHTML = total;

                //Cus info
                var order = JSON.parse(getOrder(id));
                //console.log(order + "fffffffffffffffffffffff");
                document.getElementById("orderTitle").innerText = "Thông tin về đơn hàng #" + order.ID;
                document.getElementById("cusName").innerText = order.Name;
                document.getElementById("cusPhoneNo").innerText = order.PhoneNo;
                document.getElementById("createDate").innerText = order.CreateDate;

                // thay the ki tu T bang dau cach trong createDate
                var createDate = document.getElementById("createDate").innerText;
                var newCreateDate = createDate.replace("T", " ");
                document.getElementById("createDate").innerText = newCreateDate;

                jQuery("#orderStatus").val(order.Status);
                //button update
                //jQuery('#btnModal').before(jQuery('<button class="btn btn-success" id="btnUpdateStt" onclick="updateOrderStatus(' + order.ID + ')">Update</button>'));
            },
            type: 'GET'
        })
    }

    jQuery('#myModal').on('hidden.bs.modal', function () {
        var x = document.getElementById("modalTable").rows.length;
        for (var i = x; i > 2; i--) {
            document.getElementById("modalTable").deleteRow(1);

        }

        //document.getElementById("total_cell").innerHTML = "";
        //document.getElementById("cusName").innerHTML = "";
        //document.getElementById("cusPhoneNo").innerHTML = "";
        //document.getElementById("createDate").innerHTML = "";

        //document.getElementById("cusName").innerText = "";
        //document.getElementById("cusPhoneNo").innerText = "";
        //document.getElementById("createDate").innerText = "";
    });

    //jQuery('#myModal').on('hide.bs.modal', function () {
    //    var btnUpdateStt = document.getElementById("btnUpdateStt");
    //    btnUpdateStt.parentNode.removeChild(btnUpdateStt);
    //});

    function getOrderByStt()
    {
        var stt = document.getElementById("sttSelect").value;
        jQuery.ajax({

        })
    }

</script>



