
@{
    ViewBag.Title = "Sản phẩm nổi bật nhất tuần";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Product highlightProduct = ViewBag.highlightProduct;
    double salep = highlightProduct.SalePercent.Value * 100;

    List<Image> colorImgProduct = ViewBag.colorImgProduct;
    List<SizeProductDetail> sizeProduct = ViewBag.sizeProduct;
    int defaultColor = colorImgProduct.ElementAt(0).IDColor.Value;
    int defaultSize = sizeProduct.ElementAt(0).SizeID.Value;
    List<Product> saleProducts = ViewBag.saleProducts;
}

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<style>
    div{
        display:block;
    }
    a {
        font-size:medium;
    }
    #bestProduct{
        max-width:700px;
        margin:auto;
        height:80%;
        position:relative;
        padding:0 10px 10px 10px;
        box-sizing:border-box;
        transition:border-color,box-shadow .3s ease;
        overflow:hidden;
        margin-top:20px;
        border-radius:5px;
        border:1px solid #c6c4c4;
    }

    #bestProduct:hover{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(157,59,198,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(157,59,198,1);
        box-shadow: 0px 0px 5px 0px rgba(157,59,198,1);
    }

    .salePercent{
        top:-1px;
        left:15px;
        position:absolute;
        text-align:center;
        border-bottom-right-radius:0;
        background-color:#ff9616;
        width:50px;
        height:35px;
        z-index:1;
        box-sizing:border-box;
    }

    .salePercent:after{
        content: ' ';
        position:absolute;
        left:0;
        right:0;
        width:0;
        height:0;
        bottom:-9px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 9px solid #ff9616;
    }

    .dis-text{
        color:#fff;
        font-size:11px;
        display:block;
        text-align:center;
    }

    .dis-number{
        color:#fff;
        font-size:18px;
        display:block;
    }

    strike {
        text-decoration:line-through;
        font-size:medium;
    }

    #left{
        display:inline-block;
        float:left;
    }


    #deal-name{
        margin-bottom:10px;
        height:35px;
        overflow:hidden;
        color:#333;
        text-align:left;
        line-break:1.7rem;
    }

    #deal-price{
        overflow:hidden;
        margin-bottom:0;
        color:#999;
        display:block;
        text-align:left;
        box-sizing:border-box;
    }

    #right{
        display:inline-block;
        float:right;
    }
    
    #btn{
        position:absolute;
        bottom:5px;
        right:15px;
    }

    #btn_buy{
        padding: 2px 12px 2px 6px;
        border-radius:6px;
        font-size:small;
        min-width:20%;
        border:1px solid #9D3BC6;
        background-color:#ffffff;
        color: #9D3BC6;
        font-family:VNOswald;
    }
    #btn_buy:hover{
        background-color:#9D3BC6;
        color:#ffffff;
    }
    #dealIMG{
        text-align:center;
    }
    #rText{
        padding:2em 0em 0.5em;
        font-size:x-large;
        color:#ff9616;
    }
    .title{
        font-family:Tahoma;
        font-weight:700;
        vertical-align:middle;
        text-decoration:none;
    }
    #saleProduct {
        margin:auto;
        padding-left:2%;
        display: block;
        max-width: 100%;
        min-width:70%;
        overflow:hidden;
        border-top: 5px solid #ff9616;
    }
    .product {
        border: 1px solid #c6c4c4;
        margin:1% 0% 1.5% 1%;
        display:block;
        position:relative;
        max-width:22%;
        min-width:270px;
        float:left;
    }
    .product:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(157,59,198,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(157,59,198,1);
        box-shadow: 0px 0px 5px 0px rgba(157,59,198,1);
    }
    .proInfo {
        align-content:center;
        margin:auto;
        padding:4%;
    }
    .proPrice {
        margin: 7px 0px 5px;
    }
    .newPrice {
        color:#ed1c24; 
        font-weight:700; 
        font-size:15pt;
    }
    .proIMG img {
        max-height:400px;
        height:400px;
        width:400px;
    }
</style>

<div class="container">
    <section id="content">
        <h2 style="color:#ff9616;">
            <i class="fa fa-tags fa-2x" style="vertical-align:middle" aria-hidden="true"></i>
            <span class="title" style="font-family:Tahoma;">Sản phẩm nổi bật nhất tuần</span>
        </h2>
        <div id="bestProduct">
            <div class="salePercent">
                <div class="dis-text">Giảm</div>
                <div class="dis-text">@salep%</div>
            </div>
            <div id="dealIMG">
                <a href="@highlightProduct.GenerateSlug()">
                    <img src="@highlightProduct.Img1" alt="@highlightProduct.Name" />
                </a>
            </div>
            <div id="dealInfo">
                <div id="left">
                    <div class="title">
                        <a href="">@highlightProduct.Name</a>
                    </div>
                    <div id="deal-price">
                        <div style="margin-bottom:15px;">
                            <strike>@highlightProduct.OldPrice ₫</strike>
                        </div>
                        <div style="margin-top:5px; margin-bottom:5px;">
                            <div style="color:#ed1c24; font-weight:700; font-size:x-large;">@highlightProduct.Price ₫</div>
                        </div>
                    </div>
                </div>
                <div id="right">
                    <div id="btn">
                        @using (Html.BeginForm("Index", "Cart", FormMethod.Post, new { enctype = "multipart/form-data", @style = "margin:0;" }))
                        {
                            <input type="hidden" name="id" value="@highlightProduct.ID" />
                            <input type="hidden" id="color" name="color" value="@defaultColor" />
                            <input type="hidden" id="size" name="size" value="@defaultSize" />
                            @*<button type="submit" class="button btn-cart" style="font-family:VNOswald;"><i class="icon-basket"></i>Thêm vào giỏ hàng</button>*@
                            <button id="btn_buy" type="submit">
                                <i class="fa fa-cart-plus" style="display:inline-block; height:25px; width:30px; vertical-align:middle; font-size:x-large;"></i>
                                <span class="text">Thêm vào giỏ hàng</span>
                            </button>
                        }
                        @*<button id="btn_buy">
                            <i class="fa fa-cart-plus" style="display:inline-block; height:25px; width:30px; vertical-align:middle; font-size:x-large;"></i>
                            <span class="text">Thêm vào giỏ hàng</span>
                        </button>*@
                    </div>
                </div>
            </div>
        </div>
        <div id="superSaleProduct">
            <div id="rText">
                <i class="fa fa-tags fa-2x" style="vertical-align:middle" aria-hidden="true"></i>
                <span class="title">GIẢM GIÁ SỐC</span>
            </div>
            <div id="saleProduct">
                @{
                        int count = 0;
                        double salePercent = 0;
                        for (int i = saleProducts.Count - 1; i >= 0 & count < 4; i--)
                        {
                            Product p = saleProducts.ElementAt(i);
                            salePercent = p.SalePercent.Value * 100;


                            <div class="product">
                            <div class="salePercent">
                                <div class="dis-text">Giảm</div>
                                <div class="dis-number">@salePercent%</div>
                            </div>
                            <div class="proIMG">
                                <a href="@p.GenerateSlug()">
                                    <img src="@p.Img1" alt="@p.Name" />
                                </a>
                            </div>
                            <div class="proInfo">
                                <div class="title">
                                    <a href="">@p.Name</a>
                                </div>
                                <div class="proPrice">
                                    <strike>@p.OldPrice ₫</strike>
                                    <div class="newPrice">@p.Price ₫</div>
                                </div>
                            </div>
                            @*<div id="btn">
                                <button id="btn_buy">
                                    <i class="fa fa-cart-plus" style="display:inline-block; height:25px; width:30px; vertical-align:middle; font-size:x-large;"></i>
                                </button>
                            </div>*@
                        </div>
                        count++;
                    }
                }
            </div>
        </div>
    </section>
</div>